/* .card-img-top {
    width: 100%;
    max-height: 15vw;
    min-width: 20vw;

} */
.slide-img {
    width: 283px;
    height: 236px;
    object-fit: scale-down;
  }
  .load-more{
    width: 100%;
  }

  .main-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .card-body {
    border-top: 1px solid lightgray
  }
  .main-card{
    height: 500px;
  }